# Editors
.vscode/
.idea/

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/

# User credetnails
user.json

# PyInstaller
build/
dist/

# Secrets
*.key

# Logs
*.log