# Editors
.vscode/
.idea/

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/

# Logs
*.log

# PyInstaller
*.manifest

# Distribution / packaging
build/
dist/

# mypy
.mypy_cache/

# User credentials
user.json
secret.key
