---
fail_fast: false

default_language_version:
    python: python3.8

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: "v3.4.0"
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-added-large-files
          - id: check-ast
          - id: fix-byte-order-marker
          - id: check-case-conflict
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-symlinks
          - id: destroyed-symlinks
          - id: mixed-line-ending

    - repo: https://github.com/pycqa/flake8
      rev: "3.9.2"
      hooks:
          - id: flake8

    - repo: https://github.com/asottile/add-trailing-comma
      rev: "v2.1.0"
      hooks:
          - id: add-trailing-comma
